package components

import "stickies/internal/services"

templ RenderSticky(s services.Sticky) {
	<style>
		.sticky {
            height: 100px;
            width: 100px;

            padding: 8px;
            border: 1px solid black;
        }
	</style>

	<div id="sticky-{ s.Id }" class="sticky">
		{ s.Content }
	</div>
}
